.logo-img{
    width: 40px;
    height: 70px;
}
.navbar-container{
    background-color:rgb(14, 181, 210);
    font-size: 20px;
}
.nav-item{
    list-style: none;
    align-items: center;
    display: flex;
    gap: 25px;
}
.download{
    margin-left: 10px;
    display: flex;
    gap: 5px;
    border: none;
    background-color: aqua;
    width: 100px;
}
.profile-img{
    height: 350px;
}
.banner-container{
    align-items: center;
    background-color: beige;
}